/* === HEADER CHUNG === */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  height: 65px;
  padding: 0 24px;
  border-bottom: 1px solid #e5e7eb;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.06);
  position: sticky;
  top: 0;
  z-index: 10;
}

/* === LOGO VÀ TÊN === */
.logo-box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  height: 40px;
  width: 40px;
  border-radius: 8px;
}

/* === PHẦN BÊN PHẢI === */
.header-right {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-wrap: nowrap;
  white-space: nowrap;
}
.header-language {
  display: flex;
  align-items: center;
  margin-top: 4px;
  border: #1f2937 ;
  cursor: pointer;
}
.header-language .current-lang img {
  width: 35px;
  height: 28px;
  border: 1px solid #d1d1d1;
  border-radius: 6px;
  transition: transform 0.2s;
}
.header-language .lang-menu {
  position: absolute;
  top: 0px;  
  left: -400%; 

}
.user-info {
  font-size: 0.9rem;
  color: #1f2937;
  background-color: #c2c5cc;
  padding: 6px 12px;
  border-radius: 6px;
  font-weight: 500;
}

/* === NÚT LOGOUT === */
.logout-btn {
  background-color: #c91616;
  color: #fff;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.25s ease, transform 0.15s ease;
}

.logout-btn:hover {
  background-color: #dc2626;
  transform: translateY(-1px);
}

/* === RESPONSIVE === */
@media (max-width: 768px) {
  .logo-text {
    display: none; /* Ẩn chữ logo trên màn nhỏ */
  }

  .search-box {
    display: none; /* Ẩn thanh search khi nhỏ */
  }

  .header {
    padding: 0 16px;
  }

  .user-info {
    font-size: 0.85rem;
    padding: 4px 8px;
  }

  .logout-btn {
    padding: 6px 10px;
    font-size: 0.8rem;
  }
}
