.home-container {
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover; /* phủ kín toàn màn hình */
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}



.home-container > * {
  position: relative;
  z-index: 1;
}
